.box-error{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: $color-pink;

  .box-error-title{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0 20px 0;
    .title-error{
      display: flex;
      margin: 0;
      font-size: 96px;
    }
  }

  .box-error-phrase{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    .explain-error{
      display: flex;
      text-align: center;
      justify-content: center;
      font-size: 18px;
      width: 80%;
    }
  }

  .box-error-return-link{
    display: flex;
    margin: 20px 0 40px 0;
    .link-return{
      display: flex;
      font-size: 14px;
      color: $color-pink;
    }
  }
}

@media screen and (min-width: 1024px) {
  .box-error .box-error-title .title-error{
    font-size: 225px;
  }
  .box-error .box-error-phrase .explain-error{
    width: 90%;
    font-size: 30px;
  }
  .box-error .box-error-return-link{
    margin: 80px 0 90px 0;
  }
  .box-error .box-error-return-link .link-return{
    font-size: 18px;
  }
}