.logo-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  margin: 20px 0;
  .logo {
    width: 145px;
    height: 50px;
  }
}

.link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 55%;
  .ul-link-pages {
    display: flex;
    justify-content: space-between;
    width: 140px;
    a {
      text-decoration: none;
      color: $color-pink;
    }
    .li-link-page {
      display: flex;
      text-transform: uppercase;
      font-weight: 500;
      width: 100%;
      height:  17px;
      font-size:  12px;
    }
    .nav-active {
      border-bottom: 1px $color-pink solid;
    }
  }
}
@media screen and (min-width: 768px){
  .link-container{
    width: 84%;
  }
  .link-container .ul-link-pages .li-link-page {
    text-transform: none;
  }
}
@media screen and (min-width: 1024px) {
  .link-container{
    width: 84%;
  }
  .logo-container{
    height: 65px;
  }
  .logo-container .logo {
    width: 210px;
    height: 68px;
  }
  .link-container .ul-link-pages {
    display: flex;
    align-items: center;
    width: 300px;
    height: 68px;
  }
  .link-container .ul-link-pages .li-link-page {
    height: 26px;
    font-size: 24px;
  }
}