@import "./utils/var";

body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#root {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.box-pages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}